<div class="bg-gray-300 py-4 lg:px-4">
  <div class="p-2 pl-10 pr-10 bg-gray-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
    <span class="font-semibold mr-auto text-center flex-auto">Education</span>
  </div>
</div>

<div class="px-4 py-4">
  <div class="block md:flex justify-between md:-mx-2">
    <div class="w-full lg:w-1/2 md:mx-2 mb-4 md:mb-0">
      <div class="bg-gray-300 rounded-lg shadow-lg relative">
        <div class="p-4 h-auto lg:h-56">
          <span class="block text-black font-semibold mb-2 text-lg md:text-base lg:text-lg">
            Master of Science in Information Technology
          </span>
          <div class="text-black leading-relaxed block">
            <br />
            Southern New Hampshire University<br />
            Concentration: Software Application Development<br />
            <br />
            Completed: May 2019
          </div>
        </div>
      </div>
    </div>
    <div class="w-full lg:w-1/2 md:mx-2 mb-4 md:mb-0">
      <div class="bg-gray-300 rounded-lg overflow-hidden shadow-lg relative">
        <div class="p-4 h-auto lg:h-56">
          <span class="block text-black font-semibold mb-2 text-lg md:text-base lg:text-lg">
            Bachelor of Science in Information Technology
          </span>
          <div class="text-black leading-relaxed block">
            <br />
            Sullivan University<br />
            Concentrations: Software Engineering and Database Administration
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray-300 py-4 lg:px-4 mt-4">
  <div class="p-2 pl-10 pr-10 bg-gray-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
    <span class="font-semibold mr-auto text-center flex-auto">Experience</span>
  </div>
</div>

<div class="bg-gray-300 py-4 lg:px-4 mt-4">
  <div class="p-2 pl-10 pr-10 bg-gray-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
    <span class="font-semibold mr-auto text-center flex-auto">Volunteer Work</span>
  </div>
</div>