<div class="bg-gray-300 py-4 md:px-4">
  <div class="p-2 pl-10 pr-10 bg-gray-800 items-center text-indigo-100 leading-none md:rounded-full flex md:inline-flex" role="alert">
    <span class="font-semibold mr-auto text-center flex-auto">Technical Profile</span>
  </div>
</div>

<div class="px-4 py-4">
  <div class="block md:flex md:-mx-2 md:h-full">
      <div class="w-full md:mx-2 mb-4 md:mb-0">
        <div class="bg-gray-300 rounded-lg shadow-lg relative md:h-full">
          <div class="p-4 h-auto">
            <span class="block text-black font-semibold mb-2 text-lg md:text-base lg:text-lg">
              
            </span>
            <div class="text-black leading-relaxed block">
             
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="bg-gray-300 py-4 md:px-4 mt-4">
  <div class="p-2 pl-10 pr-10 bg-gray-800 items-center text-indigo-100 leading-none md:rounded-full flex md:inline-flex" role="alert">
    <span class="font-semibold mr-auto text-center flex-auto">Education</span>
  </div>
</div>

<div class="px-4 py-4">
  <div class="block md:flex md:-mx-2 md:h-full">
    <div class="w-full lg:w-1/3 md:w-1/3 md:mx-2 mb-4 md:mb-0">
      <div class="bg-gray-300 rounded-lg shadow-lg relative md:h-full">
        <div class="p-4 h-auto">
          <span class="block text-black font-semibold mb-2 text-lg md:text-base lg:text-lg">
            Master of Science in Information Technology
          </span>
          <div class="text-black leading-relaxed block">
            <br />
            Southern New Hampshire University
            <br />
            Concentration: Software Application Development
            <br />
            <br />
            Completed: June 2019
          </div>
          <div class="py-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">HTML</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">CSS</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">Java</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">Spring MVC</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">MySQL</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">SQL Server</span>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full lg:w-1/3 md:w-1/3 md:mx-2 mb-4 md:mb-0">
      <div class="bg-gray-300 rounded-lg overflow-hidden shadow-lg relative md:h-full">
        <div class="p-4 h-auto">
          <span class="block text-black font-semibold mb-2 text-lg md:text-base lg:text-lg">
            Bachelor of Science in Information Technology
          </span>
          <div class="text-black leading-relaxed block">
            <br />
            Sullivan University
            <br />
            Concentrations: Software Engineering and Database Administration
            <br />
            <br />
            Completed: March 2015
          </div>
          <div class="py-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">HTML</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">CSS</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">C#</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">Java</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">PHP</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">MySQL</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">SQL Server</span>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full lg:w-1/3 md:w-1/3 md:mx-2 mb-4 md:mb-0">
      <div class="bg-gray-300 rounded-lg shadow-lg relative md:h-full">
        <div class="p-4 h-auto">
          <span class="block text-black font-semibold mb-2 text-lg md:text-base lg:text-lg">
            Associate of Arts
          </span>
          <div class="text-black leading-relaxed block">
            <br />
            Bluegrass Community and Technical College
            <br />
            Concentration: Linguistics and Foreign Language Education
            <br />
            <br />
            Completed: May 2007
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray-300 py-4 md:px-4 mt-4">
  <div class="p-2 pl-10 pr-10 bg-gray-800 items-center text-indigo-100 leading-none md:rounded-full flex md:inline-flex" role="alert">
    <span class="font-semibold mr-auto text-center flex-auto">Experience</span>
  </div>
</div>

<div class="px-4 pt-4">
  <div class="block md:flex md:-mx-2">
    <div class="w-full lg:w-1/3 md:w-1/2 md:mx-2 mb-4 md:mb-0">
      <div class="bg-gray-300 rounded-lg shadow-lg relative md:h-full">
        <div class="p-4 h-auto">
          <span class="block text-black font-semibold mb-2 text-lg md:text-base lg:text-lg">
            Senior Software Developer
          </span>
          <div class="text-black leading-relaxed block">
            <br />
            Custom Data Processing
            <br />
            Dates: 06/2018 to Current
          </div>
          <div class="py-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">HTML</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">CSS</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">C#</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">SQL</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">.NET Core</span>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full lg:w-1/3 md:w-1/2 md:mx-2 mb-4 md:mb-0">
      <div class="bg-gray-300 rounded-lg shadow-lg relative md:h-full">
        <div class="p-4 h-auto">
          <span class="block text-black font-semibold mb-2 text-lg md:text-base lg:text-lg">
            Adjunct Instructor
          </span>
          <div class="text-black leading-relaxed block">
            <br />
            Sullivan College of Technology and Design
            <br />
            Dates: 06/2016 to 2018
          </div>
          <div class="py-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">HTML</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">CSS</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">C#</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">SQL</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">.NET 4+</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">.NET Core</span>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full lg:w-1/3 md:w-1/2 md:mx-2 mb-4 md:mb-0">
      <div class="bg-gray-300 rounded-lg shadow-lg relative md:h-full">
        <div class="p-4 h-auto">
          <span class="block text-black font-semibold mb-2 text-lg md:text-base lg:text-lg">
            Senior Software Developer
          </span>
          <div class="text-black leading-relaxed block">
            <br />
            Lloyd & McDaniel, PLLC
            <br />
            Dates: 06/2016 to 06/2018
          </div>
          <div class="py-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">HTML</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">CSS</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">C#</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">SQL</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">.NET Core</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="px-4 md:pt-4">
  <div class="block md:flex md:-mx-2">
    <div class="w-full lg:w-1/3 md:w-1/2 md:mx-2 mb-4 md:mb-0">
      <div class="bg-gray-300 rounded-lg shadow-lg relative md:h-full">
        <div class="p-4 h-auto">
          <span class="block text-black font-semibold mb-2 text-lg md:text-base lg:text-lg">
            Developer
          </span>
          <div class="text-black leading-relaxed block">
            <br />
            Kwantek, LLC
            <br />
            Dates: 03/2014 to 03/2016
          </div>
          <div class="py-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">HTML</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">CSS</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">C#</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">SQL</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">.NET 3+</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">AngularJS</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-2 text-sm font-semibold text-gray-700 mr-2">Knockout.JS</span>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full lg:w-1/3 md:w-1/2 md:mx-2 mb-4 md:mb-0">
      <div class="bg-gray-300 rounded-lg shadow-lg relative">
      </div>
    </div>
    <div class="w-full lg:w-1/3 md:w-1/2 md:mx-2 mb-4 md:mb-0">
      <div class="bg-gray-300 rounded-lg shadow-lg relative">
      </div>
    </div>
  </div>
</div>

<div class="bg-gray-300 py-4 md:px-4 mt-4">
  <div class="p-2 pl-10 pr-10 bg-gray-800 items-center text-indigo-100 leading-none md:rounded-full flex md:inline-flex" role="alert">
    <span class="font-semibold mr-auto text-center flex-auto">Volunteer Work</span>
  </div>
</div>