<div *ngIf="isBusy">
    Retrieving posts from Prismic API.
</div>
<div *ngIf="posts && !isBusy">
    <div class="px-4 py-4" *ngFor="let post of posts"> 
        <div class="block md:flex md:-mx-2 md:h-full">
            <ng-container>
                <div class="w-full md:mx-2 mb-4 md:mb-0">
                    <div class="bg-blue-200 rounded-lg shadow-lg relative md:h-full">
                        <div class="p-4 h-auto">
                            <span class="block text-black font-semibold mb-2 text-lg md:text-base lg:text-lg" *ngFor="let title of post.data.title">
                            {{ title.text }}
                                <span class="px-4 text-gray-700 font-light mb-2 text-lg md:text-base lg:text-lg">
                                    {{ post.first_publication_date | date: 'yyyy-MM-dd h:mm:ss a' }}
                                </span>
                            </span>
                            <div class="text-black leading-relaxed block" [innerHTML]="PrismicDOM.RichText.asHtml(post.data.text, '', htmlSerializer)">
                            </div>
                            <div class="py-1 text-black text-sm">
                                Last Updated: {{ post.last_publication_date | date: 'yyyy-MM-dd h:mm:ss a' }}
                            </div>
                            <div class="border-t border-black py-1" *ngIf="post.tags.length">
                                <ng-container *ngFor="let tag of post.tags">
                                    <app-callout [callout]="tag"></app-callout>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

