<style>
  #menu-toggle:checked + #menu {
    display: block;
  }
</style>

<nav class="flex items-center justify-between flex-wrap bg-black p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <span class="font-semibold text-xl tracking-tight">Aaron Marks</span>
  </div>
  <div class="block flex-grow flex items-center sm:w-auto">
    <div class="text-md lg:flex-grow">
      <a class="block inline-block text-white mt-0 mr-4 sm:rounded-full sm:bg-gray-800 sm:pl-8 sm:pr-8 hover:text-teal-200 " [routerLink]="['/']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
        Home
      </a>
      <a class="block inline-block text-white mt-0 mr-4 sm:rounded-full sm:bg-gray-800 sm:pl-8 sm:pr-8 hover:text-teal-200" [routerLink]="['/resume']" [routerLinkActive]="'active'">
        Resume
      </a>
    </div>
    <!--
    <div>
      <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Download</a>
    </div>
    -->
  </div>
</nav>
<div class="xl:bg-red-600 lg:bg-yellow-400 md:bg-green-600 sm:bg-blue-700 bg-purple-600">
  Resolution Guide:
  Red = XL
  Yellow = LG
  Green = MD
  Blue = SM
  Purple = XS (Mobile)
</div>