<div class="container w-full md:max-w-3xl mx-auto pt-10">
  <div class="w-full rounded overflow-hidden shadow-lg">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Hi, I'm Aaron Marks!</div>
      <div class="text-lg mb-2">I like making things with code... like this website.</div>
      <div class="text-black text-base">
        <h6>I am...</h6>
            <ul class="list-inside bg-white px-5">
              <li class="list-disc">a back-end software developer using C#, .NET Core, Entity Framework, SQL Server,</li>
              <li class="list-disc">a front-end developer using HTML, CSS, JavaScript, Angular, Bootstrap, Angular Material,</li>
              <li class="list-disc">an educator, specializing in web and mobile application development courses.</li>
            </ul>
            <br />
            <h6>I am not..</h6>
            <ul class="list-inside bg-white px-5">
              <li class="list-disc">a designer of any sort,</li>
              <li class="list-disc">a mobile application developer,</li>
              <li class="list-disc">a manager,</li>
              <li class="list-disc">a workaholic.</li>
            </ul>
            <br />
            <h6>This site was made using...</h6>
            <ul class="list-inside bg-white px-5">
              <li class="list-disc">
                <a href="https://angular.io/" target="_blank">Angular 8 ({{ angularVersion }})</a>,
              </li>
              <li class="list-disc">
                <a href="https://tailwindcss.com/" target="_blank">Tailwind CSS</a>,
              </li>
              <li class="list-disc">
                <a href="https://prismic.io/" target="_blank">Prismic</a>
              </li>
            </ul>
      </div>
    </div>
    <div class="px-6 py-4">
    </div>
  </div>
</div>