<br />
<br />
<br />
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Hi! I'm Aaron Marks!</h5>
            <h6 class="card-subtitle mb-2 text-muted">I build things with code - like this website.</h6>
            <br />
            <p class="card-text">I'm a software developer with a mind for education. With 6+ years of professional experience in software development, I look forward to working with companies and individuals that focus on writing high quality software while fostering an environment of continuous learning, diversity, inclusion, and collaboration.</p>
            <br />
            <h6>I am...</h6>
            <ul>
              <li>a back-end software developer using C#, .NET Core, Entity Framework, SQL Server,</li>
              <li>a front-end developer using HTML, CSS, JavaScript, Angular, Bootstrap, Angular Material,</li>
              <li>an educator, specializing in web and mobile application development courses.</li>
            </ul>
            <h6>I am not..</h6>
            <ul>
              <li>a designer of any sort,</li>
              <li>a mobile application developer,</li>
              <li>a manager,</li>
              <li>a workaholic.</li>
            </ul>
            <a href="#" class="card-link"></a>
            <a href="#" class="card-link"></a>
          </div>
        </div>
    </div>
  </div>
</div>